# To create or update a token visit https://envio.dev/app/api-tokens
ENVIO_API_TOKEN="<YOUR-API-TOKEN>"
ENVIO_RPC_URL=http://localhost:8545

# mock ipfs gateway, refer to @packages/mock-atlas
ENVIO_IPFS_GATEWAY=http://127.0.0.1:4747/ipfs